body {
}

#tooltip {
  opacity: 0; 
  position: absolute; 
  top: 0; 
  right: 0; 
  text-align: center; 
  margin: 0; 
  padding: 0em; 
  background:#fff; 
  border: 1px; 
  border-style: solid; 
  border-color:black; 
  border-radius: 5px;
  width:8em
}

.overlay {
  opacity:0;
}

#vis2 {
    display: flex;
}

#vis2-buttons {
    margin-top: 100px;
    flex-grow: 1;
}

#visualization {
    height: 800;
    width: 800;
    display: inline;
}

.line {
	stroke: #E4002B;
	fille: none;
	stroke-width: 3;
