body {
}

.scatterplotMenu {
    border:1px solid black; 
    padding-left: 1em;
    padding-right: 2em;
    display:inline-block;
}

.scatterplotMenu ul {
    list-style-type: none;
    margin: 0;
    margin-left: 1em;
    padding: 0.5em;
}

.scatterplotMenu ul li {
    float:left;
    display:block;
    border: 1px solid black;
    padding: 1em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    margin-left: 2em;
}

.scatterplotMenu ul li:hover {
    background-color: lightblue !important;
}

#tooltip {
  opacity: 0; 
  position: absolute; 
  top: 0; 
  right: 0; 
  text-align: center; 
  margin: 0; 
  padding: 0em; 
  background:#fff; 
  border: 1px; 
  border-style: solid; 
  border-color:black; 
  border-radius: 5px;
  width:8em
}

.overlay {
  opacity:0;
}

#vis2 {
    display: flex;
    height: 600;
}

#vis1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#final_project {
    text-align: center;
}

#tech_inds {
    text-align: center;
}

#stock_market {
    text-align: center;
}

#vis2-buttons {
    margin-top: 100px;
    flex-grow: 1;
}

#visualization {
    height:600;
    width: 800;
    display: inline;
    margin-bottom:0;
}

.inline {
    float: left;
    width: 800;
    display: inline-block;
}

.line {
	stroke: #E4002B;
	fille: none;
	stroke-width: 3;
}

